{% extends "base.html" %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <!--About us-->
        <div class="col-md-11">
            <h3 class="text-center">About Us</h3>
            <p class="text-center">Our company is a leading provider of web design and development services. We have a team of highly skilled and experienced professionals who are dedicated to providing the best services to our clients. We have been in the industry for over 10 years and have worked with a number of clients from different industries. We have a proven track record of providing the best services to our clients. We have a team of highly skilled and experienced professionals who are dedicated to providing the best services to our clients. We have been in the industry for over 10 years and have worked with a number of clients from different industries. We have a proven track record of providing the best services to our clients.</p>
        </div>
        <!--/About us-->
        <!--Contact-->
        <div class="col-md-11">
            <h3 class="text-center">Contact</h3>
            <address class="text-center">
                <strong>Company Name</strong><br>
                1234 Street Name, City Name, United States<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <address class="text-center">
                <strong class="text-center">Email</strong><br>
                <a href="mailto:ahmedfathhy011@gmail.com"> Mail Us</a>
                <i class="fa fa-envelope"></i>
            </address>
        </div>
        <!--/Contact-->
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}